<div>
  <div class="bgded" style="background-image:url(<%= asset_path 'background.jpg'%>);">
    <section id="pageintro" class="hoc clear">
      <div>
        <h2 class="heading"><strong>一站式海外购物/邮寄体验</strong></h2>
        <p>让代购的生活更精彩</p>
        <footer>
          <ul class="nospace inline pushright">
            <li style="display: inline-block;"><%= link_to '开始购物', products_path, :class => 'btn' %></li>
            <li style="display: inline-block;"><%= link_to '我要寄件', new_package_path, :class => 'btn' %></li>
          </ul>
        </footer>
      </div>
    </section>
  </div>
  <div class="wrapper row3">
    <main class="hoc container clear btmpad-none">
      <div class="sectiontitle center">
        <h6 class="heading">关于我们</h6>
        </br>
        <p>Super
          Unique创建于加拿大阿尔伯塔省埃德蒙顿市。自建立以来，我们致力于为海外购物客户提供最优质的服务。目前，我们已经实现客户加拿大在线采购，邮寄，自动追踪一条龙服务。另外，我们着力打造一流的物流服务。我们采购来自于加拿大各大省份最优质产品。我们的客户遍布全球，来自加拿大，美国，澳大利亚，英国，中国。</p>
      </div>
      <ul class="nospace group center btmspace-80">
        <li class="one_third first">
          <article><i class="btmspace-30 fa fa-3x fa-star" style="color: #FABE28"></i>
            <h6 class="heading font-x1">创新理念</h6>
            <p class="btmspace-30">SU团队创新提出为客户提供无狭缝海外购物/代购一站式服务体验。方便顾客足不出户，邮寄全中国。</p>
          </article>
        </li>
        <li class="one_third">
          <article><i class="btmspace-30 fa fa-3x fa-users" style="color: #8F5DB7"></i>
            <h6 class="heading font-x1">专业服务</h6>
            <p class="btmspace-30">我们所有采购的产品均为加拿大质检部门认证的高品质产品。我们的全球物流合作伙伴是UPS和苏瑞通。我们的团队配备移动办公设备，上门称重包装的，保证包裹及时送到顾客手中。</p>
          </article>
        </li>
        <li class="one_third">
          <article><i class="btmspace-30 fa fa-3x fa-handshake-o" style="color: #FABE28"></i>
            <h6 class="heading font-x1">顾客至上</h6>
            <p class="btmspace-30">SU保障为每一位客人最热情的服务。我们同时开通了电话微信电邮通信服务，随时回复客户的疑问和咨询。</p>
          </article>
        </li>
      </ul>
      <div class="clear"></div>
    </main>
  </div>

  <div class="wrapper bgded overlay coloured">
    <section class="hoc container clear">
      <div class="sectiontitle center">
        <h6 class="heading">我们的服务</h6>
        <p>一键通世界</p>
      </div>
      <ul class="nospace group infoboxes">
        <li class="one_third first">
          <article class="infobox"><i class="fa fa-codepen"></i>
            <p><a href="#">购物邮寄一站通</a></p>
            <h6>大量折扣产品库存，一键邮寄中国</h6>
            <footer><a class="btn" href="#">开始选购 &raquo;</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article class="infobox"><i class="fa fa-scissors"></i>
            <p><a href="#">优惠寄件</a></p>
            <h6>专业物流，渠道稳定，专业清关，价格优惠</h6>
            <footer><a class="btn" href="#">我要寄件 &raquo;</a></footer>
          </article>
        </li>
        <li class="one_third">
          <article class="infobox"><i class="fa fa-crosshairs"></i>
            <p><a href="#">在线查询包裹</a></p>
            <h6>一键追踪全球运单，实时跟踪</h6>
            <footer><a class="btn" href="#">运单查询 &raquo;</a></footer>
          </article>
        </li>
      </ul>
      <div class="clear"></div>
    </section>
  </div>

  <div class="wrapper row3">
    <figure class="hoc container clear">
      <figcaption class="center hidden"><a class="btn" href="#">View More &raquo;</a></figcaption>
    </figure>
  </div>
</div>
