<div class="wrapper row3" id="carts_app">
  <main class="hoc container clear">
    <div class="wrapper">
      <div class="title-line clearfix" style="border-bottom: 1px solid #DDD">
        <div class="two_quarter first empty-label">&nbsp;</div>
        <div class="one_quarter" style="font-size: 13px; color: silver">价格</div>
        <div class="one_quarter" style="font-size: 13px; color: silver">数量</div>
      </div>

      <div v-for="item in cart">
           <div class="clearfix" style="padding: 14px 20px; border-bottom: 1px solid #DDD">
            <div class="two_quarter first">
              <div class="one_third first" style="margin:auto;">
                <div class="">
                  <%=	 image_tag("https://images-na.ssl-images-amazon.com/images/I/41Xe4iVnYHL._AC_SY200_.jpg", size: "100x100") %>
                </div>
              </div>
              <div class="two_third">
                <ul style="list-style: none; margin-top:0px;">
                  <li style="font-size: 18px;"><strong>{{ item.product.name }}</strong></li>
                  <li style="font-size: 14px; color: gray">规格说明 100粒/瓶</li>
                  <li style="font-size: 14px;"><a style="cursor: pointer;padding-right: 4px;" v-on:click="removeFromCart(item.product.id)">删除</a> | <a style="padding-left: 4px" v-bind:href="productUrl(item.product)">详情</a></li>
                </ul>
              </div>
            </div>
            <div class="one_quarter">
              <div style="color: red; font-weight: 400;">
                CDN$ {{ item.product.price * item.quantity }}
              </div>
            </div>
            <div class="one_quarter">
              <input type="number" min="1" v-model="item.quantity">
            </div>
          </div>
      </div>
    </div>
    <!-- / main body -->
    <div class="clear"></div>
    <div style="margin-top: 20px;">
      <a href=<%= checkout_path %>>
        <button class="btn">付款购买</button>
      </a>
    </div>
  </main>
</div>
