<div class="container">
  <section>
    <div id="container_demo">
      <div id="wrapper" class="hoc">
        <div class="form">
          <h2>付款成功！</h2>
          <p>您的订单号 <span style="font-weight: 600;"><%= @order_id %></span></p>
          <p>谢谢您的订单。我们将尽快寄出您的物品。</p>
        </div>
      </div>
    </div>
  </section>
</div>