<div class="wrapper row3">
  <main class="hoc container clear">
    <h2 class="receivername title-divider"><span>订单信息</span></h2>
    <table>
      <thead>
      <tr>
        <th>名称</th>
        <th>价格</th>
        <th>数量</th>
        <th>合计</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th colspan="3">合计</th>
        <td>CND $240</td>
      </tr>
      </tbody>

    </table>
    <%= form_tag payments_path do %>
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="Cart checkout"
                data-amount="<%= @amount %>"
                data-locale="ca"></script>
    <% end %>
  </main>
</div>

