<div class="wrapper row3">
  <main class="hoc container clear">

    <h2>中国通快递价格表</h2>
    <p>广州清关路线（需要身份证号码）包关税 2磅起</p>
    <div class="scrollable">
      <table>
        <thead>
        <tr>
          <th>品牌</th>
          <th>每箱可装产品上限</th>
          <th>价格 CAD</th>
          <th width="30%">混装</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>婴儿奶粉 水奶 5刀/磅</td>
          <td colspan="2"><700克 3桶/箱；>700克 2桶/箱</td>
          <td rowspan="3">如无特殊说明，可混装，按贵的产品计费。</td>
        </tr>
        <tr>
          <td>奶粉 5刀/磅</td>
          <td colspan="2">美德琳奶粉 11刀/包，速溶羊奶粉31刀/包；普通羊奶粉 30刀/包</td>
        </tr>
        <tr>
          <td>保健品等普通产品 5.5刀/磅</td>
          <td colspan="2">保健瓶：小瓶8，大瓶6个</td>
        </tr>
        </tbody>
      </table>
    </div>

    <p>成都清关路线（需要身份证号码）包关税 2磅起</p>
    <div class="scrollable">
      <table>
        <thead>
        <tr>
          <th>品牌</th>
          <th>每箱可装产品上限</th>
          <th>价格 CAD</th>
          <th width="30%">混装</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>保健品等普货</td>
          <td>大包裹 10磅随意放。可以混普货</td>
          <td>6刀/磅</td>
          <td rowspan="7">如无特殊说明，可混装，按贵的产品计费。</td>
        </tr>
        <tr>
          <td>MK，coach 皮带或钱包</td>
          <td>1个，不可混别的产品！</td>
          <td>7刀/磅</td>
        </tr>
        <tr>
          <td>MK，coach 单肩背包</td>
          <td>1个，不可混别的产品！</td>
          <td>7刀/磅</td>
        </tr>
        <tr>
          <td>耐克 阿迪 ecco鞋等</td>
          <td>1双，不可混别的产品！</td>
          <td>6.5刀/磅</td>
        <tr>
          <td>Tommy衣服</td>
          <td>10件 6磅以内</td>
          <td>6.5刀/磅</td>
        </tr>
        <tr>
          <td>雅诗兰黛兰蔻等</td>
          <td>10件 3磅以内</td>
          <td>6.5刀/磅</td>
        </tr>
        <tr>
          <td>海蓝之谜香奈儿迪奥等</td>
          <td>10件 3磅以内</td>
          <td>7刀/磅</td>
        </tr>
        <tr>
          <td>潘多拉 施华洛世奇</td>
          <td colspan="3">每箱不超过2件；可混1件普货！整箱价值不超过600刀！7.5刀/磅。不可混别的产品！</td>
        </tr>
        <tr>
          <td>加拿大鹅</td>
          <td colspan="3">1件/箱！羽绒服70刀。不可混别的产品！</td>
        </tr>
        <tr>
          <td>信件</td>
          <td colspan="3">10-15个工作日；15刀/封 续重每磅加7刀；6个工作日：40刀/封 续重每磅加7刀；3个工作日：100刀/封 续重费用另计</td>
        </tr>
        <tr>
          <td>台湾</td>
          <td colspan="3">8.5刀/磅。衣服：1-10件；鞋子包包：1-2件；保健品食品：每箱不超过36件 同一产品不超过12件。3-4周到达。</td>
        </tr>
        </tbody>
      </table>
    </div>

    <p>UPS全球快递和境内业务：1-4天，包裹越重 价格越便宜；价格根据到达的地区和包裹重量而定。关税自理。</p>
    <p>每个包裹含基本险上限为100刀，保险包赔包裹丢失，不赔破碎。请客户自行仔细包装，我们也会尽力辅助。保险：30刀，最高上限保600刀；50刀最高上限保1000刀。</p>
    <div class="clear"></div>
  </main>