<!DOCTYPE html>
<!--
Template Name: Gomag
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html lang="">
<head>
  <title>Gomag | Pages | Sidebar Left</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link href="../layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="bgded">
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div class="fl_left">
        <a href="index.html"><%= image_tag("logo.png") %></a>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li><a href="../index.html">Home</a></li>
          <li class="active"><a href="sidebar-left.html">Products</a></li>
          <li><a href="#">Track</a></li>
          <li><a href="#">Special</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="#">中文</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
</div>
<section id="breadcrumb" class="hoc clear">
  <h6 class="titlepage"><a href="#">主页</a> / <a href="#">产品选购</a></h6>
</section>
<!-- End Top Background Image Wrapper -->

<div class="wrapper row3">
  <main class="hoc container clear btmpad-none">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="content">
      <!-- ################################################################################################ -->

      <div id="comments">
        <h2>Send Us a Message:</h2>
        <form action="#" method="post">
          <div class="one_third first">
            <label for="name">Name <span>*</span></label>
            <input type="text" name="name" id="name" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="email">E-mail <span>*</span></label>
            <input type="email" name="email" id="email" value="" size="22" required>
          </div>
          <div class="one_third">
            <label for="url">Phone:</label>
            <input type="url" name="url" id="url" value="" size="22">
          </div>
          <div class="block clear">
            <label for="comment">Your Message:</label>
            <textarea name="comment" id="comment" cols="25" rows="10"></textarea>
          </div>
          <div>
            <input type="submit" name="submit" value="Submit Form">
            &nbsp;
            <input type="reset" name="reset" value="Reset Form">
          </div>
        </form>
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!--
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!--=========== BEGAIN CONTACT FEATURE SECTION ================-->
<div class="wrapper bgded overlay coloured">
  <section class="hoc container clear">
    <ul class="nospace group infoboxes">
      <li class="one_third first">
        <article class="infobox"><i class="fa fa-phone"></i>
          <h6>Call us</h6>
          <p>587-456-1822</p>
        </article>
      </li>
      <li class="one_third">
        <article class="infobox"><i class="fa fa-envelope-o"></i>
          <h6>Email Us</h6>
          <p>kkk@gmail.com</p>
        </article>
      </li>
      <li class="one_third">
        <article class="infobox"><i class="fa fa-clock-o"></i>
          <h6>Working Hours</h6>
          <p>Monday-Friday 9:00-21:00</p>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </section>
</div>
<!--=========== END CONTACT FEATURE SECTION ================-->

<div class="wrapper row3">
  <main class="hoc container clear btmpad-none">
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="subscribe">
      <h2>Subscribe Us:</h2>
      <p>To get the lattest product and discount information, subcribe us. We will send the most updated information to your email:</p>
      <form action="#" method="post">
        <div class="one_third first">
          <label for="email">E-mail <span>*</span></label>
          <input type="email" name="email" id="email" value="" size="22" required>
        </div>
        <div class="one_third">
          <label for="email"><span>&nbsp</span></label>
          <button class="btn" href="#">Subscribe</button>
        </div>
      </form>
    </div>
    <!-- ################################################################################################ -->
</div>
<!-- / main body -->
<div class="clear"></div>
</main>
</div>

<div class="wrapper row4 bgded overlay" style="background-image:url('../images/demo/backgrounds/04.png');">
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">Super Unique</h6>
      <nav>
        <ul class="nospace">
          <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Online Shop</a></li>
          <li><a href="#">中文</a></li>
        </ul>
      </nav>
    </div>
    <div class="one_third">
      <h6 class="heading" align="Right">Contact Us</h6>
      </ul>
    </div>
    <div class="one_third">
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            8144 223 ST NW Edmonton, Alberta, Canada
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +01 (587) 937 2008</li>
        <li><i class="fa fa-fax"></i> webchat: aichengtongchina</li>
      </ul>
    </div>
  </footer>
</div>

<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">www.superunique.ca</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>