@import 'font-awesome';

.wrapper {
  .content {
    &.single-col {
      margin: auto;
      margin-bottom: 24px;
      width: 100%;
      max-width: 560px;
    }
  }
}

#error_explanation, #flash_alert {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px 10px;
  width: 100%;
  margin: auto
}

.clearfix::after {
  content: "";
  display: block;
  clear:both;
}

.is-bold {
  font-weight: 600;
  font-size: 18px;
}

.breadcrumb {
  list-style: none;
  float: left;
  margin-top: 2px;

  .breadcrumb-item {
    float: left;
  }

  .breadcrumb-item::after {
    content: " / ";
    padding: 0 5px 0 3px;
  }

  .breadcrumb-item:last-child:after {
    content: "";
  }
}

.sidebar {
  border-right: 1px solid #ccc;
  margin: 6px 8px;
  width: 60%;

  ul {
    padding-left: 0;

    li {
      padding: 3px;
    }
  }
}

.category-title {
  background-color: #e6e7e8;
  font-size: 1.2em;
  font-weight: 500;
  padding: 6px;
}

.large-view {
  img {
    width: 350px;
    height: 350px;
  }
}

.thumbnail-strip {
  margin: 20px;

  figure {
    border: 1px solid silver;
    cursor: pointer;

    &:hover {
      border-color: #2BB656;
    }

    &.selected {
      border-color: #2BB656;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 100px;
      height: 100px;
    }
  }
}

.radio-container {
  width: 100%;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;

  &:hover {
    background-color: white;
  }

  &.is-active {
    border-color: #2BB656;
    background-color: white;
  }

  .type-text {
    font-weight: 600;
    font-size: 18px;
  }

  .radio-icon {
    display: none;
  }
}

.topspace-25 {
  margin-top: 25px;
}