@import 'font-awesome';

.wrapper {
  .content {
    &.single-col {
      margin: auto;
      margin-bottom: 24px;
      width: 100%;
      max-width: 560px;
    }
  }
}

#error_explanation, #flash_alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px 10px;
  width: 100%;
  margin: auto
}

.clearfix::after {
  content: "";
  display: block;
  clear:both;
}
