@import "font-awesome";
@import "framework";
@import "layout";
@import "progress-tracker";
@import "style-login";
@import "bootstrap";
@import "slick";
@import "slick-theme";

.wrapper {
  .content {
    &.single-col {
      margin: auto;
      margin-bottom: 24px;
      width: 100%;
      max-width: 560px;
    }
  }
}

#error_explanation, #flash_alert {
  background-color: #f2dede;
  color: #a94442;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 5px 10px;
  width: 100%;
  margin: auto
}

#flash_notice {
  background-color: #d9edf7;
  color: #31708f;
  border: 1px solid #bce8f1;
  border-radius: 4px;
  padding: 5px 10px;

}

.clearfix::after {
  content: "";
  display: block;
  clear:both;
}

.is-bold {
  font-weight: 600;
  font-size: 18px;
}

.breadcrumb {
  list-style: none;
  float: left;
  margin-top: 2px;

  .breadcrumb-item {
    float: left;
  }

  .breadcrumb-item::after {
    content: " / ";
    padding: 0 5px 0 3px;
  }

  .breadcrumb-item:last-child:after {
    content: "";
  }
}

.sidebar {
  border-right: 1px solid #ccc;
  margin: 6px 8px;
  width: 60%;

  ul {
    padding-left: 0;

    li {
      padding: 3px;
    }
  }
}

.category-title {
  background-color: #e6e7e8;
  font-size: 1.2em;
  font-weight: 500;
  padding: 6px;
}

.large-view {
  img {
    width: 350px;
    height: 350px;
  }
}

.thumbnail-strip {
  margin: 20px;

  figure {
    border: 1px solid silver;
    cursor: pointer;

    &:hover {
      border-color: #2BB656;
    }

    &.selected {
      border-color: #2BB656;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    img {
      width: 100px;
      height: 100px;
    }
  }
}

.radio-container {
  width: 100%;
  padding: 4px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;

  &:hover {
    background-color: white;
  }

  &.is-active {
    border-color: #2BB656;
    background-color: white;
  }

  .type-text {
    font-weight: 600;
    font-size: 18px;
  }

  .radio-icon {
    display: none;
  }
}

.topspace-25 {
  margin-top: 25px;
}

nav {
  float: right;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {

      float: left;
      position: relative;
      a, a:visited {
        display: block;
        padding: 0 15px;
        line-height: 70px;
        background: #ffffff;
        color: #000;
        text-decoration: none;
        &:hover {
          background: #ccc;
          color: #2BB656;
        }
        &:not(:only-child):after {
          padding-left: 4px;
          content: ' ▾';
        }
      }

      &.active {
      >a {
        background-color: #2BB656;
        color: #ffffff;
      } 
    }
      ul li {
        min-width: 140px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
    
  }
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 999;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #ffffff;
  border: 1px solid #2BB656;
  height: 50px;
  width: 50px;
}
@media only screen and (max-width: 800px) {
  #header {
    border-bottom: none;
  }
  .nav-mobile {
    display: block;
    float: right;
    right: 15px;
    top: 45px;
  }

  nav {
    width: 100%;
    padding: 15px 0 15px;
    ul {
      display: none;
      li {
        display: list-item;
        float: none;
        a {
          text-align: left;
          font-size: 18px;
          padding: 15px;
          line-height: 20px;
        }
        ul li a {
          padding-left: 30px;
        }
      }
    }
  }

  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 800) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 10px;
  top: 12px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
  span, span:before, span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 30px;
    background: #2BB656;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
  }

  span:before {
    top: -10px;
  }

  span:after {
    bottom: -10px;
  }
  &.active span {
    background-color: transparent;
    &:before, &:after {
      top: 0;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }
}
