.pkglist {
  margin-bottom: 5px;

  td {
    width: 25%;
    min-width: 20%;
    max-width: 30%;
    text-align: right;

    .smlbtn {
      color: crimson;
    }
  }
}

.title-divider {
  background: transparent image-url("title_divider") repeat-x 0 0;

  span {
    color: #2BB656;
    padding-right: 20px;
    background: white;
  }
}