<p>哈喽 <%= @resource.email %>!</p>

<p>由于你点击了“重置密码”，所以收到系统自动发送的这封邮件。</p>

<p><%= link_to '重置密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果你不需要重置密码，或者从来没有点击过“重置密码”，请忽略这封邮件。</p>
<p>请放心，你的密码不会有任何改动。</p>
