<!DOCTYPE html>
<!--
Template Name: Gomag
Author: <a href="http://www.os-templates.com/">OS Templates</a>
Author URI: http://www.os-templates.com/
Licence: Free to use under our free template licence terms
Licence URI: http://www.os-templates.com/template-terms
-->
<html lang="">
<head>
  <title>Gomag | Pages | Sidebar Left</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded">
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear">
      <!-- ################################################################################################ -->
      <div class="fl_left">
        <a href="index.html"><%= image_tag("logo.png") %></a>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li><a href="../index.html">Home</a></li>
          <li class="active"><a href="sidebar-left.html">Products</a></li>
          <li><a href="#">Track</a></li>
          <li><a href="#">Special</a></li>
          <li><a href="contact.html">Contact Us</a></li>
          <li><a href="#">中文</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
</div>
<section id="breadcrumb" class="hoc clear">
  <h6 class="titlepage"><a href="#">主页</a> / <a href="#">产品选购</a> /产品细节</h6>
</section>
<!-- End Top Background Image Wrapper -->

<div class="wrapper row3">
  <main class="hoc container clear">

    <div class="content">
      <!-- ################################################################################################ -->
      <div id="gallery">
        <figure>
          <a href="#" class="one_half first"><%= image_tag("co.jpg") %></a>
          <ul class="one_half">
            <li class="productname">Costco Oil fish - Omega 3</li>
            <li class="productprice"><b>Retail Price:</b>$13.99</li>
            <li><strike>Reg. $17.99</strike></li>
            <li class="productdetails"><b>Weight:</b> 2lbs/bottle</li>
            <li><b>Online:</b> In stock</li>
            <li><b>Direction:</b> three times a day; 2 pills at a time</li>
            <li class="orderquantity"><b>Qty:</b></li>
            <li><textarea name="comment" cols="4" rows="1"></textarea></li>
            <li class="productdetails"><footer><a class="btn" href="#">Add to Cart</a></footer></li>
          </ul>
        </figure>
      </div>
    </div>
    <div class="content">
      <div id="gallery">
        <h2>Product Description:</h2>
        <p>health, all without any fishy aftertaste or burp back! Jamieson’s latest omega nutrition features a premium fish oil that is purified to remove toxins and impurities and finished with natural lemon essence to ensure a fish-free experience. Extra Strength Omega-3 is part of Jamieson Essentials™. To learn more about Jamieson Essentials™, click here.</p>
      </div>
    </div>
    <div class="scrollable">
      <table>
        <thead>
        <tr>
          <th>瓶/箱</th>
          <th>重量 磅</th>
          <th>邮费 CAD</th>
          <th>箱子</th>
          <th>税后价格CAD/箱</th>
          <th>总费用CAD/箱</th>
          <th>平均CAD/箱</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>11</td>
          <td>1</td>
          <td>17</td>
          <td>29</td>
          <td>29</td>
        </tr>
        <tr>
          <td>2</td>
          <td>2</td>
          <td>11</td>
          <td>1</td>
          <td>34</td>
          <td>46</td>
          <td>23</td>
        </tr>
        <tr>
          <td>3</td>
          <td>2</td>
          <td>11</td>
          <td>1</td>
          <td>51</td>
          <td>63</td>
          <td>21</td>
        </tr>
        <tr>
          <td>4</td>
          <td>3</td>
          <td>16.5</td>
          <td>1</td>
          <td>68</td>
          <td>85</td>
          <td>21.38</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>

<div class="wrapper row4 bgded overlay" style="background-image:url('../images/demo/backgrounds/04.png');">
  <footer id="footer" class="hoc clear">
    <!-- ################################################################################################ -->
    <div class="one_third first">
      <h6 class="heading">Super Unique</h6>
      <nav>
        <ul class="nospace">
          <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Online Shop</a></li>
          <li><a href="#">中文</a></li>
        </ul>
      </nav>
    </div>
    <div class="one_third">
      <h6 class="heading" align="Right">Contact Us</h6>
      </ul>
    </div>
    <div class="one_third">
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            8144 223 ST NW Edmonton, Alberta, Canada
          </address>
        </li>
        <li><i class="fa fa-phone"></i> +01 (587) 937 2008</li>
        <li><i class="fa fa-fax"></i> webchat: aichengtongchina</li>
      </ul>
    </div>
  </footer>
</div>

<div class="wrapper row5">
  <div id="copyright" class="hoc clear">
    <!-- ################################################################################################ -->
    <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">www.superunique.ca</a></p>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="../layout/scripts/jquery.min.js"></script>
<script src="../layout/scripts/jquery.backtotop.js"></script>
<script src="../layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html