<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="content">

      <div class="one_half first" style="margin-top: 20px;">
        <figure>
          <%= image_tag @product.image1.url, size: "350x350", style: "width:350px;height:350px" %>
        </figure>
      </div>
      <div class="one_half">
        <p style="font-weight: 600;font-size: 25px;"><%= @product.name %></p>
        <div style="">
          <span style="float:left;font-size: 18px;">价格:</span>
          <span style="float:right;font-size: 19px;color: red;text-align: left;"><%= "CDN$#{@product.price}" %></span>
        </div>
        <div class="clear"></div>
        <div style="font-weight: 400; font-size: 17px; margin-top:20px;">产品描述</div>
        <p style="padding-top:0px;color:gray;"><%= @product.detail %></p>
        <div>
          <div style="margin-bottom: 6px;">
            <label style="display:inline;padding-right: 5px;">数量：</label>
            <select style="display: inline;">
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <a class="btn btn-lg">加入购物车</a>
        </div>
      </div>
      </div>


    <div class="clear"></div>
  </main>
</div>

