<div class="wrapper row4 bgded overlay">
  <footer id="footer" class="hoc clear">
    <div class="one_half first">
      <h6 class="heading">Super Unique</h6>
      <nav>
        <ul class="nospace">
          <li><%= link_to url: root_url do %><i class="fa fa-lg fa-home"></i>
            <% end %></li>
          <li><%= link_to '邮寄费率', rates_path %></li>
          <li><%= link_to '联系我们', contact_path %></li>
        </ul>
      </nav>
    </div>
    <div class="one_half">
      <h6 class="heading">联系我们</h6>
      <ul class="nospace btmspace-30 linklist contact">
        <li><i class="fa fa-map-marker"></i>
          <address>
            地址： 8144 223 ST NW Edmonton, Alberta, Canada
          </address>
        </li>
        <li><i class="fa fa-phone"></i>电话： +01 (587) 937 2008</li>
        <li><i class="fa fa-envelope"></i>邮箱： support@superunique.ca</li>
        <li><i class="fa fa-fax"></i> 微信： aichengtochina</li>
      </ul>
    </div>
  </footer>
  <div id="copyright" class="hoc clear">
    <p class="fl_left">版权所有&copy; 2017 - All Rights Reserved - <a href="#">www.superunique.ca</a></p>
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
