<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div class="fl_left">
      <a href="index.html"><%= image_tag("logo.png") %></a>
    </div>
    <nav id="mainav" class="fl_right">
      <ul class="clear">
        <li class="active"><a href="index.html">主页</a></li>
        <li><a href="pages/sidebar-left.html">购物</a></li>
        <li><a href="#">寄件</a></li>
        <li><a href="#">运单追踪</a></li>
        <li><a href="#">运费查询</a></li>
        <li><a href="pages/contact.html">联系我们</a></li>
        <li><a href="#">English</a></li>
      </ul>
    </nav>
  </header>
</div>